@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

/*Definições do backgroud do corpo do site 
para ter um degrade do azul-claro para o branco

OBS: Colocamos um height minemo de 100% da viewport para que 
não tenha uma quebra no meio da tela*/
body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

/*Aqui nos estamos definindo a posição da pokedex*/
main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
    /* Estamos impedindo que os objetos dentro da tag man possam sair da área delimitada */
}

/*Definimos o tamanho do botão de eventos e deixamos ele transparente*/
.btn{
    height: 3.5%;
    width: 5.3%;
    border-radius: 100%;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 3.78%;
    cursor: pointer;
}

.shiny{
    left: 29%;
}

.posicion{
    left: 36.5%;
}

.full{
    left: 43.7%;
}

.activated{
    background: radial-gradient(rgba(231, 255, 18), green);
}

.pokedex {
    /*Estamos colocando uma limitação para que a imagem da pokedex nunca fique vazada
    Ocupando assim sempre 100% da largura disponivel na tela*/
    width: 100%;

    /*Colocamos essa lagura como maxima pois a imagem da pokedex que nos estamos usanda
    tem a proporção de 425 X 637 Assim evitando uma destorção da imagem*/
    max-width: 425px;
}

/*Classe responsável pela posição e tamanho do gif do pokemon*/
.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

/*Posicionamento do nome do pokemon */
.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;

    /* Optei por posicionar os dados do pokemon dessa forma ao invés de user o top e right */
    bottom: 40%;
    left: 25%;

    font-size: clamp(8px, 5vw, 25px);
    /*clamp (MINEMO, DESEJAVEL, MAXIMO)*/
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
    /*Coloca a primeira letra como maiúscula*/
}

/* Posicionamento do input em que o usuario vai digitar o nome ou numero do pokemon que ele que ver os dados */
.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

/* Configurações do tamanho e estudo do input */
.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    /*clamp (MINEMO, DESEJAVEL, MAXIMO)*/
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

/* Posicionamento do butão em que o usuario conseguir ver o pokemon que vem antes e depois*/
.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0%);
    display: flex;
    gap: 5%;

}

/*Definimos uma sombra para os 2 buttons e posicionar os 2 centralizados na parte de baixo da pokedex*/
.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

/*Animação de clique no botão*/
.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}