@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

/*Definições do backgroud do corpo do site 
para ter um degrade do azul-claro para o branco

OBS: Colocamos um height minemo de 100% da viewport para que 
não tenha uma quebra no meio da tela*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

/*Aqui nos estamos definindo a posição da pokedex*/
main {
  padding: 15px;
  position: relative;
  /* Estamos impedindo que os objetos dentro da tag man possam sair da área delimitada */
}

.pokedex {
  height: 100vh;
}

/*Ok*/
.gridpokemon {
  gap: 10%;
  bottom: 41.6%;
  left: 13.8%;
  position: absolute;
  width: 30%;
  height: 29.0%;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-image: url('../images/fundo_pokedex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*Classe responsável pela posição e tamanho do gif do pokemon quando apresentado somente um gif*/
.gridpokemon img {
  width: 30%;
}

/*Posicionamento do nome do pokemon */
.pokemon_data {
  position: absolute;
  font-weight: 800;
  color: #555;
  width: 100%;
  text-align: center;

  /* Optei por posicionar os dados do pokemon dessa forma ao invés de user o top e right */
  bottom: 2%;
  

  font-size: clamp(8px, 5vw, 25px);
  /*clamp (MINEMO, DESEJAVEL, MAXIMO)*/
}

.pokemon_name {
  color: #3a444d;
  text-transform: capitalize;
  /*Coloca a primeira letra como maiúscula*/
}

.pokemon_type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
  width: 35%;
  right: 10.1%;
  bottom: 18%;
  position: absolute;
}

.pokemon_type_img {
  width: 47%;
  height: 49%;
}
