@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", cursive;
}

/*Definições do backgroud do corpo do site 
para ter um degrade do azul-claro para o branco

OBS: Colocamos um height minemo de 100% da viewport para que 
não tenha uma quebra no meio da tela*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

/*Aqui nos estamos definindo a posição da pokedex*/
main {
  display: inline-block;
  padding: 15px;
  position: relative;
  /* Estamos impedindo que os objetos dentro da tag man possam sair da área delimitada */
}

.pokedex {

  height: 90vh;
}

.gridpokemon {
  gap: 10%;
  bottom: 47%;
  left: 17.4%;
  position: absolute;
  width: 56.8%;
  height: 25.7%;
  border: solid #000;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Classe responsável pela posição e tamanho do gif do pokemon quando apresentado somente um gif*/
.gridpokemon img {
  width: 30%;
}

/*Posicionamento do nome do pokemon */
.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: #aaa;

  /* Optei por posicionar os dados do pokemon dessa forma ao invés de user o top e right */
  bottom: 40%;
  left: 25%;

  font-size: clamp(8px, 5vw, 25px);
  /*clamp (MINEMO, DESEJAVEL, MAXIMO)*/
}

.pokemon_name {
  color: #3a444d;
  text-transform: capitalize;
  /*Coloca a primeira letra como maiúscula*/
}

.pokemon_type {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 70%;
  left: 11%;
  bottom: 18%;
  position: absolute;
}

.pokemon_type_img {
  width: 40%;
  height: 40%;
}
